<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<%= month_calendar table: {class: "calendar"}, tr: {class: "calendar-row"}, day_names: "date.day_names" do |date| %>
			  <%= date %>
			<% end %>
		</div>
	</div>
</div>