<div class="container">
	<div class="row">
			<div class="col-lg-4 col-md-6 col-xs-12 col-centered">
				<div class="widget">
					<div class="widget-body">
						0
					</div>
					<div class="widget-label">
						<p>Miles today</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-xs-12 col-centered">
				<div class="widget">
					<div class="widget-body">
						26
					</div>
					<div class="widget-label">
						<p>Miles this week</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-xs-12 col-centered">
				<div class="widget">
					<div class="widget-body">
						180
					</div>
					<div class="widget-label">
						<p>Miles this month</p>
					</div>
				</div>
			</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget">
				WEEKLY GRAPH
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<div class="widget">
				CURRENT SHOE
			</div>
		</div>
		<div class="col-xs-6">
			<div class="widget">
				FAVORITE ROUTE
			</div>
		</div>
	</div>

</div>