<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
	SecondWind is a Ruby on Rails project inspired by the semi-retired <a href="http://www.nike.com/trainingtool/v3/web/training_shell.html">training log</a> created by Nike.
</p>
<p>
	The goal of this project is to provide a training log with a minimalist approach making it easy to add, edit, and view your activities as well as create planned activities to help keep you on pace for achieving your athletic goals.
</p>