
<% if signed_in? %>

<div class="container">
		<%= link_to "Add an activity", new_activity_path, class: "btn btn-large btn-primary center" %>
		<%= link_to "Sign out", signout_path, method: "delete", class: "btn btn-large btn-primary center"  %>
</div>

	<% else %>

	<div class="container">
		<div class="center jumbotron">
			<h1>SecondWind</h1>
			<h2>
				Bringing online training logs back to the basics.
			</h2>

			<%= link_to "Get started!", signup_path, class: "btn btn-large btn-primary" %>
		</div>
	</div>


	<% end %>