
<% if signed_in? %>

<div class="span6">
  <%= link_to "Add an activity", new_activity_path %>
</div>

<% else %>

<div class="center hero-unit" id="home-bg">
  			<h1>SecondWind</h1>
  			<h2>
    			Bringing online training logs back to the basics.
  			</h2>
	
		  	<%= link_to "Sign up!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<% end %>