<% provide(:title, @user.username) %>
<div class="row">
	<aside class="span4">
			<section>
				<h1><%= @user.username %></h1>
				<h2><%= @user.name %></h2> 
			</section>
			<section>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, hic, minus, reprehenderit libero facilis iste id rem cumque nisi aut debitis fugiat quos ea consectetur perferendis adipisci ipsum animi facere!</p>
			</section>
			<section>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, recusandae, itaque dolor aliquam fugit molestiae repellat maiores. Amet, obcaecati, voluptas, quas quibusdam non blanditiis eum dolorum eos asperiores vitae sequi.</p>
			</section>
	</aside>
	<div class="span8">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, iste, maxime, et odit expedita laudantium inventore repellendus architecto voluptatem minima magni dolorem sit aliquam alias pariatur cupiditate explicabo quia illo.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, quis, beatae aspernatur neque pariatur porro itaque inventore temporibus. Animi doloremque maiores neque dolorum nobis qui minus assumenda inventore quia illo!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, culpa magni quidem officia numquam. Non numquam aspernatur assumenda cumque. Voluptates, totam deleniti minus odit ducimus optio ipsam voluptatem eum inventore!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, ipsum vero libero odit consectetur hic nostrum corrupti nemo quasi amet. Quod, nihil vitae quaerat exercitationem repudiandae in molestiae facere maiores.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, perspiciatis, consequatur, suscipit, laudantium quis necessitatibus voluptatum quidem fugit ex blanditiis minima odit impedit iste hic explicabo ullam porro illo soluta.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, quibusdam adipisci sit perferendis repellat magni quis iusto molestias ipsum aliquam nulla aut quia ex ea quod id iure architecto consequuntur?</p>
		<p>Sapiente, libero, dolor, magnam, enim modi at inventore rerum soluta adipisci quasi sequi vero! Sapiente, fuga, aliquid obcaecati ut ipsam architecto optio repellendus earum nostrum labore sunt laudantium corporis repellat.</p>
	</div>
</div>
