<% if @user %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<div class="alert alert-error">
				The form contains <%= pluralize(@user.errors.count, "error") 	%>.
			</div>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li>* <%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<% elsif @activity %>
	<% if @activity.errors.any? %>
		<div id="error_explanation">
		<div class="alert alert-error">
			The form contains <%= pluralize(@activity.errors.count, "error") %>.
		</div>
		<ul>
			<% @activity.errors.full_messages.each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
<% end %>