@import "base";

/* miscellaneous */

.debug_dump {
  clear: both;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#page-wrapper {
  padding-left: 70px;
  height: 100%;
}

.alert {
  margin-bottom: 0;
}

/* sidebar */

#sidebar-wrapper {
  background-color: $darkGrey;
  margin-left: -150px;
  left: -30px;
  width: 250px;
  position: fixed;
  height: 100%;
  z-index: 2;
}

ul.sidebar {
  background-color: $darkGrey;
  position: absolute;
  top: 0;
  bottom: 45px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;

  li a {
    display: block;
    float: left;
    text-decoration: none;
    width: 250px;
  }

  .sidebar-logo {
    height: 60px;
    background-color: $darkerGrey;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    font-weight: 600;

    a {
      font-size: 24px;
      line-height: 60px;
      color: $flatterOrange;
    }
  }

  .sidebar-main {
    height: 65px;

    a {
      font-size: 12px;
      line-height: 60px;
      color: #fff;
      }

    .menu-icon {
      float: right;
      font-size: 18px;
      padding-right: 28px;
      line-height: 60px;
    }
  }

  .sidebar-title {
    font-size: 12px;
    height: 35px;
    line-height: 40px;
    text-transform: uppercase;
    color: $lightDarkGrey;
  }

  .sidebar-list {
    height: 40px;

    a {
      text-indent: 25px;
      font-size: 15px;
      color: $lightGrey;
      line-height: 40px;
    }

    a:hover {
      color: #fff;
      border-left: 3px solid $flatYellow;
      text-indent: 22px;
      background-color: $darkerGrey;

      .menu-icon {
        text-indent: 25px;
      }
    }

    .menu-icon {
      float: right;
      padding-right: 29px;
      line-height: 40px;
      width: 70px;
    }
  }
}

li.active {
  background-color: $darkerGrey;

  a {
    color: #fff !important;
    &:before {
      content: '';
      position: absolute;
      right: 0;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent; 
      border-right: 8px solid #fff;
      margin-top: 12px;
    }
  }
}

.sidebar-footer {
  position: absolute;
  height: 45px;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: $darkerGrey;

  div a {
    color: $lightGrey;
    font-size: 12px;
    line-height: 45px;
  }

  div a:hover {
    color: $flatterOrange;
    text-decoration: none;
  }
}

#page-wrapper:not(.active) {
  ul.sidebar {
    bottom: 0;
    .sidebar-list a:hover i {
      border-left: 3px solid $flatYellow;
      text-indent: 22px;
    }
  }
  
  .sidebar-logo {
    height: 60px;
    a {
      display: none;
      line-height: 60px;
    }
  }
  .sidebar-title {
    display: none;
  }
  .sidebar-footer {
    display: none;
  }
}

#page-wrapper, #sidebar-wrapper {
  transition: all .1s ease 0s;
}

#page-wrapper.active {
  padding-left: 250px;
}

#page-wrapper.active #sidebar-wrapper {
  left: 150px;
}

/* header */

.row.header {
  height: 60px;
  // background-color: $lightGrey;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.header-add {
  line-height: 60px;

  a {
    font-size: 18px;
    color: $flatBlue;
    text-transform: uppercase;
  }

  a:hover {
    text-decoration: none;
    color: darken( $flatBlue, 20% );
  }
}


.item {
  line-height: 60px;

  a, a:focus {
    color: $darkGrey;
    text-decoration: none;
  }

  a:hover {
    color: darken( $darkGrey, 20% );
    text-decoration: none;
  }
}

.gravatar {
  margin-left: 5px;
  border-radius: 50%;
}

.dropdown-menu {
  padding: 5px 0;
}

.divider {
  width: 100%;
}

/* content */

#content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}






/* forms */

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

