// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base";

.widget {
  height: 150px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $lighterGrey;
}

.widget-body {
	padding: 20px 20px 5px 20px;
	font-size: 84px;
	line-height: 75px;
	text-align: center;
	font-weight: 600;
	color: $flatOrange;
}

.widget-label {
	font-weight: 200;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
}

// Dashboard calendar

.calendar-header {
	text-align: center;
	margin-bottom: 5px;

	span {
		font-size: 24px;
		line-height: 24px;

	}
	a {
		font-size: 32px;
		color: $flatOrange;
		font-weight: 500;
		text-decoration: none;
		line-height: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}
	a:hover {
		text-decoration: none;
		color: darken( $flatOrange, 20% );
	}
}

.calendar {
	width: 100%;

	th {
		text-align: center;
	}

	td {
		border: 1px solid black;
		height: 100px;
	}

	td.today {
		solid: 2px solid black;
	}
}

.current-month {
	background-color: $lighterGrey;
}

.prev-month, .next-month {
	background-color: $lightDarkGrey;
}
