<div class="modal fade" id="activity-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Don't mind the dust!</h4>
      </div>
      <div class="modal-body container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <p>This feature is currently under construction!</p>
          </div>
        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->